.progress-area {
  padding: 10px;
}

.progress-wrapper, .progress-played {
  height: 6px;
  border-radius: 6px;
  background-color: #333;
}

.progress-area:hover .progress-played {
  background-color: green;
}

.progress-played {
  background-color: #666;
}
