.search-result-row {
  padding:20px;
}

.search-result-row > div {
  display: inline-block;
}

.search-result-row .image-container {
  position: relative;
}

.search-result-row .image-overlay {
  position: absolute;
  background-color: black;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .2s;
}

.image-container:hover .image-overlay {
  opacity: 0.8;
}

.play-circle {
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  margin: 30px;
  user-select: none;
  -webkit-user-select: none;
  transition: .1s;
}

.play-circle:hover {
  font-size: 24px;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  margin: 26px;
  border-radius: 24px;
}

.result-row-text {
  margin-left: 20px;
}

